*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Dela Gothic One", sans-serif;
}

:root{
    --background-color: #ffeb38;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: white;
}



.PageHead{
    font-size: 6rem;
    text-align: center;
    margin: 1em 0;
}