*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Dela Gothic One", sans-serif;
}

:root{
    --background-color: #ffeb38;
    --bodyBackground: white;
    --footerColor: black;
    --footerText: white;
    --selectColor: black;
    --selectFont: #ffeb38;
    --building-color: #FF9800;
    --house-color: #0288D1;
    --shop-color: #7B1FA2;
    --warehouse-color: #558B2F;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: white;
}

.PageHead{
    font-size: 6rem;
    text-align: center;
    margin: 1em 0;
}

.pageParagraph{
    font-size: 3rem;
    text-align: left;
    margin: 0.5em 0;
}

.HorizOverflowContainer{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--selectColor);
}

.RecommendedItem {
    font-size: 2.5rem;   
    width: 14rem;
    text-align: center;
}

a:has(.RecommendedItem){
    height: 14rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: var(--background-color);
}

.EventContainer{
    display: block;
    height: 100vw;
    width: 100%;
    overflow-y: scroll;
}

.FilterContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;  
}

.FilterItem{
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--selectColor);
    width: 25rem;
    height: 25rem;
    margin: auto;
    border-radius: 50px;
    justify-content: center;
}

.FilterItem *{
    color: var(--selectFont);
    font-size: 5rem;
    text-align: center;
}

.FilterItem .material-symbols-outlined{
    font-size: 10rem;
}

.btn {
    background-color: black !important;
    color: white;

    border: 10px solid var(--background-color);
}

a:has(.FilterItem){
    text-decoration: none;
}

.headLogo{
    height: 8rem;
    margin: 0.5rem;
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: var(--background-color);
}

.body{
    background-color: var(--bodyBackground);
    height: 90vh;
    padding: 1rem;
}

.select{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:  1rem 0 ;
}

.select *{
    background-color: var(--selectColor);
    color: var(--selectFont) !important;
    font-size: 5rem !important;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
    color: white;
  }

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--footerColor);
    color: var(--footerText);
    border: 10px solid var(--footerColor);
}

.footer a{
    text-align: center;
    font-size: 5rem;
}